<h1><%= @persons.name %> <%= @persons.surname %></h1>


<font color="green"><%=flash[:notice]%></font>
<p>
  <b>Name:</b>
  <%= @persons.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @persons.surname.upcase %>
</p>

<p>
  <b>Age:</b>
  <%= @persons.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @persons.gender %>
</p>

<p>
  <b>Income:</b>
  <%= @persons.income %>
</p>

<!--Remember that there is a label swap here-->
<p>
  <b>Postcode:</b>
  <%= @persons.email %>
</p>

<p>
  <b>Email:</b>
  <%= @persons.postcode %>
</p>

<!-- <p>
  <b>Email:</b>
  <%= @persons.email %>
</p> -->

<p>
  <b>MSISDN:</b>
  <%= @persons.msisdn %>
</p>


<%= link_to 'Edit', edit_person_path(@user) %> |
<%= link_to 'Back', people_path %>
