<h1>Persons#index</h1>
<p>Find me in app/views/persons/index.html.erb</p>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Income</th>
    <th>Email</th>
    <th>Postcode</th>
    <th>MSISDN</th>
  </tr>

<% @persons.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.surname %></td>
	<td><%= person.age %></td>
    <td><%= person.gender %></td>
	<td><%= person.income %></td>
    <td><%= person.email %></td>
    <td><%= person.postcode %></td>
    <td><%= person.msisdn %></td>
	
    <!-- <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?',
:method => :delete %></td> -->
  </tr>
<% end %>
</table>


<br />