<!DOCTYPE html>
<html>
<head>
  <%if @title == nil%>
    <title><%=@title = 'Assessment'%></title>
  <%else%>
    <title><%=@title%></title>
  <%end%>


  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

    <header>
      <%= image_tag("mig.jpg",:size => "60x60", :alt => "Sample App", :class => "round") %>
      <nav class="round">
        <ul>
          <li><%= link_to "Home", people_path %></li>
          <li><%= link_to "Bugs", bugs_path %></li>
        </ul>


      </nav>
    </header>
     <!--%= debug(params) if Rails.env.development? %-->

<%= yield %>

</body>

</html>

